.nav{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #EDEBE9;
}

.input2{
    width: 300px;
}

.edit-ctn{
    width: 564px; 
}

.dropdown-option-0{
    background-color:bisque;
}

.dropdown-option-1{
    background-color:rgb(196, 255, 242);
}

.dropdown-option-2{
    background-color:rgb(255, 196, 196);
}

.dropdown-option-3{
    background-color:rgb(255, 196, 250);
}
.dropdown-option-4{
    background-color:rgb(196, 255, 196);
}
